{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-unidade').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }} Selecionados" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-unidade').submit() : false;"><i class="fa fa-trash-o"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_delete_all }}" class="btn btn-small btn-warning" onclick="confirm('{{ text_confirm_all }}') ? window.location = '{{delete_all}}' : false;"><i class="fa fa-remove"></i></button>
  </div>
      <h1>{{ unidade_nome }} - {{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
    <div class="col-xs-12"> 
        <span class="badge badge-dark">Total: {{ codigos_total }}</span>
        <span class="badge badge-success">Utilizados: {{ codigos_utilizados }}</span>
        <span class="badge badge-primary">Livres: {{ codigos_disponiveis }}</span>
        <hr>
    </div>
      <div id="filter-unidade" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-cogs"></i> Exportar Códigos</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
                <button type="button" data-toggle="tooltip" title="Exportar Todos" class="btn btn-small btn-success" onclick="confirm('Deseja exportar todos os códigos') ? window.location = '{{export_all_codes}}' : false;"><i class="fa fa-cogs"></i> Todos</button>
                <button type="button" data-toggle="tooltip" title="Exportar os Disponíveis" class="btn btn-small btn-info" onclick="confirm('Deseja exportar todos os códigos disponíveis') ? window.location = '{{export_available}}' : false;"><i class="fa fa-cog"></i> Disponíveis</button>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-plus"></i> Gerar Códigos</h3>
          </div>
          <div class="panel-body">
            <div class="form-inline">
              <input type="number" min="1" max="1000"  onchange="limiter(this);" name="input_quantidade" value="{{ input_quantidade }}" placeholder="Quantidade" id="input-quantidade" class="form-control" style="min-width:150px;" />
              <button type="button" id="button-generate" class="btn btn-success"><i class="fa fa-plus"></i> Gerar</button>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-customer-id">{{ entry_customer_id }}</label>
              <input type="text" name="filter_customer_id" value="{{ filter_customer_id }}" placeholder="{{ entry_customer_id }}" id="input-customer-id" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-codigo">{{ entry_codigo }}</label>
              <input type="text" name="filter_codigo" value="{{ filter_codigo }}" placeholder="{{ entry_codigo }}" id="input-codigo" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-customer">{{ entry_customer }}</label>
              <select name="filter_customer" id="input-customer" class="form-control">
                <option value="" {{ (filter_customer == null) ? 'selected' : '' }}>Todos</option>
                <option value="1" {{ (filter_customer == 1) ? 'selected' : '' }}>Utilizados</option>
                <option value="2" {{ (filter_customer == 2) ? 'selected' : '' }}>Disponíveis</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="input-date-added">{{ entry_date_created }}</label>
              <div class="input-group date">
              <input type="text" name="filter_date_created" value="{{ filter_date_created }}" placeholder="{{ entry_date_created }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
              <span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }} - {{unidade_nome}}</h3>
          </div>
          <div class="panel-body">
            {% if numbers_duplicados %}
             <div class="alert alert-warning">
              <p><b>Códigos duplicados:</b></p>
              {% for duplicado in numbers_duplicados %}
                <span class="badge badge-dark">{{ duplicado.codigo }}</span>
              {% endfor %}
              </div>
            {% endif %}
            <div class="table-responsive">
              <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-unidade">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-left">{% if sort == 'codigo' %}<a href="{{ sort_codigo }}" class="{{ order|lower }}">Nome</a>{% else %}<a href="{{ sort_codigo }}">Código</a>{% endif %}</td>
                      <td class="text-left" style="width:450px;">Cliente ID / Editar</td>
                      <td class="text-left">Unidade</td>
                      <td class="text-left">Ação</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% if unidades %}
                  {% for unidade in unidades %}
                  <tr>
                    <td class="text-center">{% if unidade.codigo_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ unidade.customer_id }}" checked="checked" />
                      {% else %}
                        {% if (unidade.customer_unidade == 'Campo Limpo') or (unidade.customer_unidade == '') and (unidade.customer_id) %}
                        <input type="checkbox" name="selected[]" value="{{ unidade.customer_id }}" checked="checked" />
                        {% else %}
                        <input type="checkbox" name="selected[]" value="{{ unidade.customer_id }}" />
                        {% endif %}
                      {% endif %}
                    </td>
                    <td class="text-left">{{ unidade.codigo }}</td>
                    <td class="text-left"># {{ unidade.customer_id }} - 
                      <b>{{ unidade.customer_name }}</b>
                      <br/>
                      {{ unidade.customer_email }}
                      <br/>
                      {{ unidade.customer_document }}
                    </td>                     
                    <td class="text-left">
                      {{ unidade.customer_unidade }}
                    </td>
                    <td>
                      {% if unidade.customer_id %}
                          <a href="{{ unidade.customer_url }}" data-toggle="tooltip" data-position="right" data-title="Abrir perfil" class="btn btn-sm btn-primary" target="_Blank"><i class="fa fa-eye"></i></a>
                        {% endif %}
                      <button type="button" data-toggle="tooltip" title="Deletar Perfil + Pedidos" class="btn btn-sm btn-danger" onclick="confirm('Deseja apagar o perfil e pedidos?') ? window.location = '{{unidade.delete_customer}}' : false;"><i class="fa fa-remove"></i></button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript"><!--
  $('.table-responsive').on('shown.bs.dropdown', function (e) {
    var t = $(this),
      m = $(e.target).find('.dropdown-menu'),
      tb = t.offset().top + t.height(),
      mb = m.offset().top + m.outerHeight(true),
      d = 20;
    if (t[0].scrollWidth > t.innerWidth()) {
      if (mb + d > tb) {
        t.css('padding-bottom', ((mb + d) - tb));
      }
    } else {
      t.css('overflow', 'visible');
    }
  }).on('hidden.bs.dropdown', function () {
    $(this).css({'padding-bottom': '', 'overflow': ''});
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#button-filter').on('click', function() {
    url = 'index.php?route=customer/unidades/codigos&user_token={{ user_token }}&unidade_id={{unidade_id}}';
    var filter_codigo = $('input[name=\'filter_codigo\']').val();
    if (filter_codigo) {
      url += '&filter_codigo=' + encodeURIComponent(filter_codigo);
    }
    var filter_customer_id = $('input[name=\'filter_customer_id\']').val();
    if (filter_customer_id) {
      url += '&filter_customer_id=' + encodeURIComponent(filter_customer_id);
    }
    var filter_customer = $('select[name=\'filter_customer\']').val();
    if (filter_customer) {
      url += '&filter_customer=' + encodeURIComponent(filter_customer);
    }
    var filter_date_created = $('input[name=\'filter_date_created\']').val();
    if (filter_date_created) {
      url += '&filter_date_created=' + encodeURIComponent(filter_date_created);
    }
    location = url;
  });
  //--></script>
  <script type="text/javascript"><!--
  $('input[name=\'filter_codigo\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/unidades/codigos/autocomplete&user_token={{ user_token }}&unidade_id='{{unidade_id}}'&filter_codigo=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['nome'],
              value: item['unidade_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_codigo\']').val(item['label']);
    }
  });
  $('input[name=\'filter_customer_id\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/unidades/codigos/autocomplete&user_token={{ user_token }}&unidade_id='{{unidade_id}}'&filter_customer_id=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['nome'],
              value: item['unidade_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_customer_id\']').val(item['label']);
    }
  });
  $('select[name=\'filter_customer\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/unidades/codigos/autocomplete&user_token={{ user_token }}&unidade_id='{{unidade_id}}'&filter_customer=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['nome'],
              value: item['unidade_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('select[name=\'filter_customer\']').val();
    }
  });
  $('input[name=\'filter_email\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/unidades/codigos/autocomplete&user_token={{ user_token }}&unidade_id='{{unidade_id}}'&filter_email=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['email'],
              value: item['unidade_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_email\']').val(item['label']);
    }
  });
  //--></script>
  <script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });
  //--></script>

  <script type="text/javascript"><!--
  function limiter(input) {
    if (input.value <= 0) input.value = 1;
    if (input.value > 1000) input.value = 1000;
  }
  
  $('#button-generate').on('click', function(e) {
    e.preventDefault();
  
    if($('#filter-unidade input[name="input_quantidade"]').val() >= 1){
      $.ajax({
        url: 'index.php?route=customer/unidades/codigosGenerate&user_token={{ user_token }}&unidade_id={{ unidade_id }}',
        type: 'post',
        dataType: 'text',
        data: 'quantidade=' + encodeURIComponent($('#filter-unidade input[name=\'input_quantidade\']').val()),
        beforeSend: function() {
          $('#button-generate').button('loading');
        },
        complete: function() {
          $('#button-generate').button('reset');
        },
        success: function() {
          alert('Códigos de Acessos Gerados!');
          window.location.href="index.php?route=customer/unidades/codigos&user_token={{ user_token }}&unidade_id={{ unidade_id }}";
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert('aqui?'+thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }else{
      alert('Digite um número para gerar os códigos');
    }
  });
  //--></script> 

</div>
{{ footer }}
