{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-unidade').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-unidade').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-unidade" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-nome">{{ entry_name }}</label>
              <input type="text" name="filter_nome" value="{{ filter_nome }}" placeholder="{{ entry_name }}" id="input-nome" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-date-added">{{ entry_date_created }}</label>
              <div class="input-group date">
                <input type="text" name="filter_date_created" value="{{ filter_date_created }}" placeholder="{{ entry_date_created }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-unidade">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-left">#</td>
                      <td class="text-left">{% if sort == 'nome' %}<a href="{{ sort_nome }}" class="{{ order|lower }}">Nome</a>{% else %}<a href="{{ sort_nome }}">Nome</a>{% endif %}</td>
                      <td class="text-left">Prefixo</td>
                      <td class="text-left">Qta Codigos</td>
                      <td class="text-left">{% if sort == 'date_created' %}<a href="{{ sort_date_created }}" class="{{ order|lower }}">{{ column_date_created }}</a>{% else %}<a href="{{ sort_date_created }}">{{ column_date_created }}</a>{% endif %}</td>
                      <td class="text-right">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% if unidades %}
                  {% for unidade in unidades %}
                  <tr>
                    <td class="text-center">{% if unidade.unidade_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ unidade.unidade_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ unidade.unidade_id }}" />
                      {% endif %}
                    </td>
                    <td class="text-left">{{ unidade.unidade_id }}</td>
                    <td class="text-left">{{ unidade.nome }}</td>
                    <td class="text-left">{{ unidade.prefixo }}</td>
                    <td class="text-left">{{ unidade.total }}</td>
                    <td class="text-left">{{ unidade.date_created }}</td>
                    <td class="text-right">
                      <div class="btn-group" style="min-width: 65px;">
                        <a href="{{ unidade.showcodes }}" data-toggle="tooltip" title="Ver Códigos" class="btn btn-success"><i class="fa fa-eye"></i></a>
                        <a href="{{ unidade.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                        
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
  $('.table-responsive').on('shown.bs.dropdown', function (e) {
    var t = $(this),
      m = $(e.target).find('.dropdown-menu'),
      tb = t.offset().top + t.height(),
      mb = m.offset().top + m.outerHeight(true),
      d = 20;
    if (t[0].scrollWidth > t.innerWidth()) {
      if (mb + d > tb) {
        t.css('padding-bottom', ((mb + d) - tb));
      }
    } else {
      t.css('overflow', 'visible');
    }
  }).on('hidden.bs.dropdown', function () {
    $(this).css({'padding-bottom': '', 'overflow': ''});
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#button-filter').on('click', function() {
    url = 'index.php?route=customer/unidades&user_token={{ user_token }}';
    var filter_nome = $('input[name=\'filter_nome\']').val();
    if (filter_nome) {
      url += '&filter_nome=' + encodeURIComponent(filter_nome);
    }
    var filter_date_created = $('input[name=\'filter_date_created\']').val();
    if (filter_date_created) {
      url += '&filter_date_created=' + encodeURIComponent(filter_date_created);
    }
    location = url;
  });
  //--></script>
  <script type="text/javascript"><!--
  $('input[name=\'filter_nome\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/unidades/autocomplete&user_token={{ user_token }}&filter_nome=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['nome'],
              value: item['unidade_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_nome\']').val(item['label']);
    }
  });
  $('input[name=\'filter_email\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/unidades/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['email'],
              value: item['unidade_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_email\']').val(item['label']);
    }
  });
  //--></script>
  <script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });
  //--></script>
</div>
{{ footer }}
