{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <div class="row">
        <div class="col-md-9">
          {% if orders %}
          <div class="heading-page mb-4 mt-4">
            <h3 class="title">Meus Pedidos</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-right">{{ column_order_id }}</td>
                  <td class="text-left">{{ column_customer }}</td>
                  <td class="text-right">{{ column_product }}</td>
                  <td class="text-left">{{ column_status }}</td>
                  <td class="text-right">{{ column_total }}</td>
                  <td class="text-left">{{ column_date_added }}</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
               {% for order in orders %}
               <tr>
                <td class="text-right">#{{ order.order_id }}</td>
                <td class="text-left">{{ order.name }}</td>
                <td class="text-right">{{ order.products }}</td>
                <td class="text-left">{{ order.status }}</td>
                <td class="text-right">{{ order.total }}</td>
                <td class="text-left">{{ order.date_added }}</td>
                <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
        {% else %}
        <p>{{ text_empty }}</p>
        {% endif %}
      </div>
      <div class="col-md-3">
        <div class="heading-page mb-4">
          <h1 class="title">{{ text_my_account }}</h1>
        </div>
        <ul class="list-unstyled">
          <li><a href="{{ edit }}">{{ text_edit }}</a></li>
          <li><a href="{{ password }}">{{ text_password }}</a></li>
          <li><a href="{{ address }}">{{ text_address }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ logout }}">{{ text_logout }}</a></li>
        </ul>
        {% if credit_cards %}
        <div class="heading-page mb-4 mt-4">
          <h3 class="title">{{ text_credit_card }}</h3>
        </div>
        <ul class="list-unstyled">
          {% for credit_card in credit_cards %}
          <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="heading-page mb-4 mt-4">
          <h3 class="title">{{ text_my_orders }}</h3>
        </div>
        <ul class="list-unstyled">
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div><!-- row -->
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
</div>
{{ footer }}