{{ headerlogin }}
<div id="account-login" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row d-flex flex-column flex-sm-column flex-md-row justify-content-start justify-content-lg-center align-items-center page-login">
        <div class="col-xs-12 col-md-5 order-2">
          <div class="box-login">
            <h2>Faça seu Acesso</h2>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              </div>
              <div class="form-group">
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
              </div>
              <div class="form-group mb-5">
                <input type="submit" value="{{ button_login }}" class="btn btn-block btn-primary" />
              </div>
              {% if redirect %}
              <input type="hidden" name="redirect" value="{{ redirect }}" />
              {% endif %}

              <div class="form-group mb-1">
                <a href="{{ forgotten }}">{{ text_forgotten }}</a>
              </div>
              <div class="form-group mb-5">
                <a href="{{ register }}">{{ text_register }}</a>
              </div>
            </form>

            {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
            {% endif %}
            {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
            {% endif %}
          </div>
        </div><!-- flex -->

        <div class="col-xs-12 col-md-7 text-left pl-md-3 ml-md-3 order-1 text-center">
          <div class="logo">
            {% if logo %}
            <img src="https://store.inglesiw.com.br/image/catalog/logo_login2.png" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            {% else %}
            <h1>{{ name }}</h1>
            {% endif %}
          </div>
          <h1>Acesso Exclusivo <br> Aluno iW</h1>

          <p>Se essa é a sua primeira compra, <a href="{{ register }}">clique aqui</a> para fazer seu cadastro. Agora se você já usou a nossa loja, entre direto com o seu login e senha. </p>
          <p>Se você ainda não é nosso aluno, procure a unidade IW mais próxima no <a href="https://inglesiw.com.br/" target="_Blank">nosso site</a> e faça sua matrícula.</p>
          </div><!-- flex -->

        </div><!-- page-login -->
        {{ content_bottom }}</div>
        {{ column_right }}</div>
      </div>
      {{ footerlogin }}