</main>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<script type="text/javascript">
function subscribe(){
  var formNews = $('form[name="formNewsletter"]');
  var emailpattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
  var email = $('#newsletter-email').val();
  var cupom = "primeiracompra";
  var cupom_value = "20% de Desconto";
  var url_loja = "{{url_loja}}";
  // var mensagem = "Prontinho! <br> Agora você pode realizar sua primeira comprando usando o cupom para receber "+cupom_value+". <br><br> Escolha os produtos em nossa loja, adicione ao carrinho e use o cupom: <h2 style='margin:5px 0;'><b>"+cupom+"</b></h2> <br> Você irá receber por e-mail nossas promoções e novidades.<br><br><small>* Caso deseja cancelar o <b>newsletter</b> basta responder o e-mail com o assunto <b>SAIR</b></small>";
  var mensagem = "Prontinho! <br> Você irá receber nossos e-mail com promoções e novidades.<br><br><small>* Caso deseja cancelar o <b>newsletter</b> basta responder o e-mail com o assunto <b>SAIR</b></small>";
  if(email != "")
  {
    if(!emailpattern.test(email))
    {
      $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-danger'>Utilize um e-mail válido! <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
      $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
      setTimeout(function(){
       $( "#msgRetorno").addClass('hide').empty();      
     }, 8000);

      return false;
    }
    else
    {
      $.ajax({
        url: 'index.php?route=common/footer/newsletters',
        type: 'post',
        data: {
          'email': email,
          'mensagem': mensagem
        },
        dataType: 'json',
        beforeSend: function(){
          $('#btnNewsletter').html('Aguarde').attr('disabled', true);
        },                
        success: function(json) {
          if (json.result.status === 'existe') {
            $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-danger'>E-mail já Cadastrado, utilize outro e-mail válido <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
            $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
            setTimeout(function(){
             $( "#msgRetorno").addClass('hide').empty();      
           }, 8000);
          } else if(json.result.status === 'falha'){
            $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-danger'>Não foi possível cadastrar. <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
            $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
            setTimeout(function(){
             $( "#msgRetorno").addClass('hide').empty();      
           }, 8000);
          } else if(json.result.status === 'ok'){
            $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-success'>"+mensagem+" <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
            setTimeout(function(){
             $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
             $( "#msgRetorno").addClass('hide').empty();      
           }, 20000);
          }                    
        },
        afterSend: function(){
          $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
          setTimeout(function(){
           $( "#msgRetorno").addClass('hide').empty();
         }, 8000);
        }

      });
return false;
}
}
else
{

  $('#btnNewsletter').html('Aguarde').attr('disabled', true);
  $( "#msgRetorno" ).removeClass('hide').append("<div class='alert-dismissible alert alert-warning'>E-mail é necessário<button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");      
  $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
  setTimeout(function(){
   $( "#msgRetorno" ).addClass('hide').empty();      
 }, 8000);              
  $(email).focus();
  return false;
}
}

function closetAlert(){
  $( "#msgRetorno").addClass('hide').empty();
  $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
}
</script>


<div id="box-popup-ctn" class="box-popup-ctn" style="display:none">
    <div class="box-popup" id="box-popup">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RhSuefWT7Cw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a href="javascript:buttonClose();" id="button-close" class="button-close"><i class="fa fa-times"></i></a>
        
    </div>
</div>


<script type='text/javascript' src='catalog/view/javascript/jquery.cookie.js'></script>
<script>
    $(function() {

      var date = new Date();
      //date.setTime(date.getTime() + (60 * 1000)); // expire em 1 minuto = 60 * 1000
      date.setTime(date.getTime() + 24 * 60 * 60 * 1000); // expire em 1 day

        if ($.cookie('box-pop-up') == null) {
            $(document).keyup(function(e) {
                if (e.keyCode == 27) buttonClose(); // esc
            });
            $("#box-popup").click(function(e) {
                e.stopPropagation();
            });
            $("#box-popup-ctn").click(function(e) {
                buttonClose();
                $.cookie('box-pop-up', 'box-pop', { expires: date });
            });
            $("#button-close").click(function(e) {
                buttonClose();
                $.cookie('box-pop-up', 'box-pop', {expires: date });
            });
            $('#box-popup-ctn').show();
        }
        if (top != window)
            $('#box-popup-ctn').hide();
    });

    function buttonClose() {
        $('#box-popup-ctn').fadeOut();
    }
</script>
</body></html>