<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <link href="/catalog/view/javascript/font-awesome/5.1/css/all.min.css" rel="stylesheet">
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Hind:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/stylesheet.css?1" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/custom.css?16" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/responsive.css?2" rel="stylesheet">
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js?1" type="text/javascript"></script>
  {% for link in links %}
  <link href="{{ link.href }}?2" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}

  <script src="catalog/view/javascript/jquery/jquery.mask.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function(){    
    // $('input[name="postcode"]').mask('00000-000');
    $("input[name='postcode']").mask('00000-000', {reverse: true, placeholder: "00000-000"});
    //$('input[name="custom_field[account][1]"]').mask('000.000.000-00', {reverse: true});
    $('input[name="custom_field[address][2]"]').mask('999999');
    $('input[name="custom_field[account][5]"]').mask('99/99/9999');
    $('input[name="telephone"]').mask("(99) 99999-9999");
    $('input[name="telephone"]').on("blur", function() {
      var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

      if( last.length == 3 ) {
        var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
        var lastfour = move + last;
        var first = $(this).val().substr( 0, 9 );

        $(this).val( first + '-' + lastfour );
      }
    });
  });
  </script>

</head>
<body class="{{ class }}">
<a href="https://wa.me/551147022877" target="_Blank" class="btn-whatsapp-flt"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
  <header>
    <div class="container">
      <a href="http://inglesiw.com.br/" target="_Blank" class="btn-welcome">Conheça a iW</a>
    </div>
  </header>


      {% if bfloat_status  %}
      <div class="headerbuttonsfloat">
        <ul>
          <li><a href="javascript:;" data-toggle="tooltip" data-placement="right" title="Entre em Contato"><i class="fa fa-comments"></i></a>
            <ul>
              {% if bfloat_whatsapp %}
              <li><a href="https://wa.me/55{{ bfloat_whatsapp }}" target="_Blank" class="whatsapp" data-toggle="tooltip" data-placement="right" title="WhatsApp"><i class="fab fa-whatsapp"></i></a></li>
              {% endif %}

              {% if bfloat_facebook %}
              <li><a href="https://facebook.com/{{ bfloat_facebook }}" target="_Blank" class="facebook" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fab fa-facebook"></i></a></li>
              {% endif %}

              {% if bfloat_messenger %}
              <li><a href="https://m.me/{{ bfloat_messenger }}" target="_Blank" class="facebook-messenger" data-toggle="tooltip" data-placement="right" title="Messenger"><i class="fab fa-facebook-messenger"></i></a></li>
              {% endif %}

              {% if bfloat_instagram %}
              <li><a href="https://instagram.com/{{ bfloat_instagram }}" target="_Blank" class="instagram" data-toggle="tooltip" data-placement="right" title="Instagram"><i class="fab fa-instagram"></i></a></li>
              {% endif %}

              {% if bfloat_mail %}
              <li><a href="mailto:{{ bfloat_mail }}" class="comment" data-toggle="tooltip" data-placement="right" title="E-mail"><i class="fa fa-comment"></i></a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}

      <main class="content_geral">