<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ingles iW</title>
	<link rel="shortcut icon" href="_galerias/favicon.ico" type="image/x-icon">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
	<style>
	body{
		background: #000;
		color:#FFF;
		font-size:14px;
		font-family: 'Open Sans', sans-serif;
	}
	h2{
		font-size:40px;
	}
	.wrap{
		width:1000px;
		margin:10% auto;
		text-align: center;
	}
	.logo img{
		max-width: 220px;
		margin:0 auto;
		display: block;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<div class="logo">
			<img src="_galerias/logo.png" alt="Ingles iW">
		</div><!-- logo -->

		<h2>Loja em Desenvolvimento</h2>
	</div>
</body>
</html>