<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produtos <span class="openMenu d-inline-block d-sm-inline-block d-md-none"><i class="fa fa-angle-down"></i></span></a>
  <div class="dropdown-menu">
    <div class="dropdown-inner">

      {% for category in categories %}
      {% if category.children %}
      <li class="dropdown">
        <a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }} <span class="openMenu d-inline-block d-sm-inline-block d-md-none"><i class="fa fa-angle-down"></i></span></a>
        <div class="dropdown-menu">
          <div class="dropdown-inner">
            {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
            <ul class="list-unstyled">
              {% for child in children %}
              <li><a href="{{ child.href }}">{{ child.name }}</a></li>
              {% endfor %}
            </ul>
            {% endfor %}
          </div>
          <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
        </div>
      </li>
      {% else %}
      <ul class="list-unstyled">
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
      </ul>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</li>
