<div id="search" class="hide">
	<h4>Faça sua Busca</h4>
	<div class="d-flex">
		<div class="flex-grow-1">
			<div class="content input-group">
				<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</div>
		<div class="btn-closetSearch">
			<a href="javascript:;" class="openSearch">
				<i class="fa fa-times"></i>
			</a>
		</div>
	</div>
</div>