<p>{{ text_hello }} <br> {{ text_order_status }}</p>

<p><b>{{ order_status }}</b></p>

{% if link %}
<p>{{ text_link }}</p>

<p>{{ link }}</p>
{% endif %}
{% if comment %}

<p>{{ text_comment }}</p>

<p><b>{{ comment }}</b></p>

<p>{{ text_complement }}</p>

<p>{{ text_thanks }} <br> {{ store }}</p>

{% else %} 
<p>{{ text_complement }}</p>

<p>{{ text_thanks }} <br> {{ store }}</p>
{% endif %}