{{ text_hello }}
{{ text_welcome }}

{% if not approval %}
{{ text_login }}

E-mail: {{ email }}
Senha: {{ password }}
Link: {{ login }}

{{ text_service }}

{{ text_complement }}

{{ text_thanks }}
{{ store }}
{% else %}
{{ text_approval }}

E-mail: {{ email }}
Senha: {{ password }}
Link: {{ login }}

{{ text_complement }}

{{ text_thanks }}
{{ store }}
{% endif %}