{#<script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.3/cleave.min.js" integrity="sha256-yx/X2dD86fWz9OyQ/ZnQH8BQaS5Ta4OuNJICU17rySE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js" integrity="sha256-Hhwv1ElzvrH6ZuiIDWEO6xBYW3lmFYrapwcjgXhpL6g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js" integrity="sha256-2RS1U6UNZdLS0Bc9z2vsvV4yLIbJNKxyA4mrx5uossk=" crossorigin="anonymous"></script>

<style>
    div#wrapper-code-vindi {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @media only screen and (max-width: 400px) {
        div#code-vindi {
            width: 380px;
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }

    @media only screen and (min-width: 401px) {
        div#code-vindi {
            width: 420px;
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }

    .swal2-popup {
        font-size: 1.6rem !important;
    }

    .cardFlag {
        font-size: 12px;
        color: #00bf4d;
        margin-left: 3px;
    }

    {{ code_css }}
</style>

{{ code_mensagem_cartao }}
<div id="wrapper-code-vindi">
    <div id="code-vindi">
        <form @submit.prevent="submit()" id="code-vindi-form">
            <div class="col-md-12">
                <div id="card-info"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Número do Cartão</label><span class='cardFlag'></span>
                    <input type="text" class="form-control" name="cc_number" id="number" v-model="cc.number" data-checkout="cardNumber" required>
                    <input v-model="cc.paymentMethodId" type="hidden" name="paymentMethodId"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Vencimento</label>
                    <input type="text" class="form-control" name="cc_exp" id="expiry" v-model="cc.exp" required>
                    <input v-model="cc.exp_month" type="hidden" data-checkout="cardExpirationMonth"/>
                    <input v-model="cc.exp_year" type="hidden" data-checkout="cardExpirationYear"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">CVC</label>
                    <input type="text" class="form-control" name="cc_cvc" id="cvc" v-model="cc.cvc" data-checkout="securityCode" minlength="3" maxlength="4" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Nome completo</label>
                    <input type="text" class="form-control" name="cc_name" id="name" v-model="cc.name" data-checkout="cardholderName" required>
                    <input v-model="cc.email" name="email" type="email" data-checkout="email" style="display: none;"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">CPF</label>
                    <input type="text" class="form-control" name="cc_cpf" id='vindi-cpf' v-model="cc.cpf" data-checkout="docNumber" required>
                    <input v-model="cc.typeDoc" type="hidden" data-checkout="docType"/>
                </div>
            </div>
            <div class="col-md-12" v-if="parcelamento">
                <div class="form-group">
                    <label for="">Parcelamento</label>
                    <select class="form-control" v-model="cc.parcelas">
                        {{ parcelas }}
                        <!--
                        <template v-for="i in parcelamento.payer_costs">
                            <option :value="i.installments">[[ i.recommended_message ]]</option>
                        </template>
                        -->
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary col-md-12" id="vindi-button-confirm" data-loading-text="Criando o Pedido..." :disabled="confirm()">{{ code_botao_cartao }}</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    let paymentCompanyCode = '';

    function boot(timer) {
        clearInterval(timer);

        new Vue({
            el: '#code-vindi',
            delimiters: ['[[', ']]'],
            data() {
                return {
                    cc: {
                        number: null,
                        exp: null,
                        cvc: null,
                        name: '{{ order.firstname }} {{ order.lastname }}',
                        email: '{{ order.email }}',
                        cpf: '{{ cpf }}',
                        paymentMethodId: null,
                        exp_month: null,
                        exp_year: null,
                        parcelas: 1,
                        typeDoc: 'CPF',
                        paymentCompanyCode: null,
                    },
                    parcelamento: '{{ parcelamento }}',
                    token: null,
                }
            },
            mounted() {
                var cleave = new Cleave('input#number', {
                    creditCard: true,
                    onCreditCardTypeChanged: function (type) {
                        // update UI ...
                        console.log(type);
                        //$( ".type" ).html("("+type.toUpperCase()+")");

                        paymentCompanyCode = type.toLowerCase();

                        switch (type.toLowerCase()) {
                            case 'visa':
                                $(".cardFlag").html('(Visa)');
                                break;
                            case 'mastercard':
                                $(".cardFlag").html('(Mastercard)');
                                break;
                            case 'diners':
                                $(".cardFlag").html('(Diners)');
                                break;
                            case 'amex':
                                $(".cardFlag").html('(Amex)');
                                break;
                            case 'elo':
                                $(".cardFlag").html('(Elo)');
                                break;
                            case 'hiper':
                                $(".cardFlag").html('(Hiper)');
                                break;
                            case 'hipercard':
                                $(".cardFlag").html('(Hipercard)');
                                break;
                            case 'mastro':
                                $(".cardFlag").html('(Mastro)');
                                break;
                            case 'discover':
                                $(".cardFlag").html('(Discover)');
                                break;
                            default:
                                $(".cardFlag").html('');
                        }

                    }
                });

                var cleave = new Cleave('input#expiry', {
                    date: true,
                    datePattern: ['m', 'y']
                });

                var cleave = new Cleave('input#vindi-cpf', {
                    blocks: [3, 3, 3, 2],
                    delimiters: ['.', '.', '-'],
                    numericOnly: true
                });
            },
            methods: {
                confirm() {
                    const app = this;
                    //console.log(this.cc.number);

                    if (this.cc.number && this.cc.exp && this.cc.cvc && this.cc.name && this.cc.exp_month && this.cc.exp_year && this.validaCPF() &&
                        !this.token && this.cc.number.length >= 14 && this.cc.cvc.length >= 3 && this.cc.exp_month.length == 2 && this.cc.exp_year.length == 2) {
                        //console.log(this.cc.number.length);

                        let profile = {
                            "holder_name": this.cc.name,
                            "card_expiration": this.cc.exp_month + '/' + this.cc.exp_year,
                            "card_number": this.cc.number,
                            "card_cvv": this.cc.cvc,
                            "payment_method_code": "credit_card",
                            "payment_company_code": paymentCompanyCode
                        };

                        axios.post('{{ url_token }}', profile, {
                            headers: {
                                "Authorization": "Basic " + btoa("{{ public_key }}" + ":")
                            }
                        }).then(({data}) => {
                            //console.log(data);
                            app.token = data.payment_profile.gateway_token;
                        }).catch((error) => {
                            Swal.fire(
                                'Desculpe!',
                                'Problema com o Cartão informado, verifique os dados digitados ou tente outro Cartão',
                                'error'
                            );
                            console.log('Erro Token');
                            console.log(error);
                        });
                    }

                    return !this.token;
                },
                submit() {
                    $('#vindi-button-confirm').button('loading');

                    let card = {
                        "token": this.token,
                        "parcelas": this.cc.parcelas
                    };

                    axios.post('{{ url_confirm }}', card).then(({data}) => {
                        if (data.success) {
                            window.location = data.redirect;
                        } else {
                            Swal.fire(
                                'Desculpe!',
                                'Houve um problema no processamento do seu pagamento. Tente novamente mais tarde.',
                                'error'
                            );

                            $('#vindi-button-confirm').button('reset');
                        }
                    });
                },
                validaCPF() {
                    let cpf = this.cc.cpf.replace(/\D/g, '');

                    let numeros, digitos, soma, i, resultado, digitos_iguais;

                    digitos_iguais = 1;

                    if (cpf.length < 11) {
                        return false;
                    }

                    for (i = 0; i < cpf.length - 1; i++) {
                        if (cpf.charAt(i) !== cpf.charAt(i + 1)) {
                            digitos_iguais = 0;
                            break;
                        }
                    }

                    if (!digitos_iguais) {
                        numeros = cpf.substring(0, 9);
                        digitos = cpf.substring(9);
                        soma = 0;
                        for (i = 10; i > 1; i--) {
                            soma += numeros.charAt(10 - i) * i;
                        }

                        resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;

                        if (resultado != digitos.charAt(0)) {
                            return false;
                        }
                        numeros = cpf.substring(0, 10);
                        soma = 0;

                        for (i = 11; i > 1; i--) {
                            soma += numeros.charAt(11 - i) * i;
                        }
                        resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;

                        return resultado == digitos.charAt(1);
                    } else {
                        return false;
                    }
                }

            },
            watch: {
                'cc.number'(value) {
                    let bin = value.replace(/\s/g, '');
                    console.log(this.card);
                },
                'cc.exp'(value) {
                    if (value.length === 5) {
                        console.log('Gerando o Exp: ' + value);
                        this.cc.exp_month = value.split('/')[0];
                        this.cc.exp_year = value.split('/')[1];
                        console.log('Exp ano: ' + this.cc.exp_year);
                    }
                }
            }
        });
    }

    const timer = setInterval(() => {
        if (typeof Vue != 'undefined' && typeof Cleave != 'undefined') {
            boot(timer);
        }
    }, 10);
</script>
