{#<script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js" integrity="sha256-Hhwv1ElzvrH6ZuiIDWEO6xBYW3lmFYrapwcjgXhpL6g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js" integrity="sha256-2RS1U6UNZdLS0Bc9z2vsvV4yLIbJNKxyA4mrx5uossk=" crossorigin="anonymous"></script>

<style>

    div#code-vindi {
        /*
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
        */
    }

    .swal2-popup {
        font-size: 1.6rem !important;
    }
</style>

<div id="code-vindi">
    {{ code_mensagem_boleto }}
    <div class="text-right">
        <button class="btn btn-primary" id="vindi-button-confirm" data-loading-text="Criando o Boleto..." @click="submit()">{{ code_botao_boleto }}</button>
    </div>
</div>

<script type="text/javascript">
    function boot(timer) {
        clearInterval(timer);

        new Vue({
            el: '#code-vindi',
            delimiters: ['[[', ']]'],
            data() {
            },
            methods: {
                submit() {
                    $('#vindi-button-confirm').button('loading');
                    axios.post('{{ url_confirm }}').then(({data}) => {
                        if (data.success) {
                            window.location = data.redirect;
                        } else {
                            Swal.fire(
                                'Desculpe!',
                                'Houve um problema no processamento do seu pagamento. <br>Tente novamente mais tarde.',
                                'error'
                            );

                            $('#vindi-button-confirm').button('reset');
                        }
                    });
                },
            },
        });
    }

    const timer = setInterval(() => {
        if (typeof Vue != 'undefined') {
            boot(timer);
        }
    }, 10);
</script>
