<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <div style="margin-bottom:10px;">          
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Início</div>
              <input type="text" name="filter_date_start" id="filter_date_start" placeholder="Data Inicial" class="form-control date" value="{{filter_date_start_formated}}">
              <div class="input-group-addon">Fim</div>
              <input type="text" name="filter_date_end" id="filter_date_end" placeholder="Data Final" class="form-control date" value="{{filter_date_end_formated}}">
              <div class="input-group-addon" style="padding:1px 4px;"><a href="javascript:;" data-href="{{export_all_orders}}" class="btn btn-sm btn-success export-all-orders"><i
                class="fa fa-download"></i> Exportar Pedidos das Unidades</a></div>
            </div>
          </div>              
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-left">ID</td>
                <td class="text-left">Unidade</td>
                <td class="text-center"></td>
              </tr>
            </thead>
            <tbody>

              {% if orders %}
              {% for order in orders %}
              <tr>
                <td class="text-left">{{ order.unit_id }}</td>
                <td class="text-left">{{ order.unit_name }}</td>
                <td class="text-center">
                  <a href="{{ order.unit_href }}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> Visualizar por
                    Clientes</a>
                  <a href="{{ order.unit_href_orders }}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i>
                    Visualizar por Pedidos</a>
                  <a href="javascript:;" data-href="{{ order.unit_export }}"
                    class="btn btn-sm btn-success button-export"><i class="fa fa-download"></i> Exportar por Clientes</a>
                  <div class="datepicker"></div>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="6">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>

          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $(function () {
    // Inicializando o Datepicker
    $("#filter_date_start").datetimepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        language: '{{ datepicker }}',
        pickTime: false
    });

    $("#filter_date_start").on("change", function() {
      $('#filter_date_end').focus().datetimepicker("show");
      $('#filter_date_end').focus().click();
    });

    $("#filter_date_end").datetimepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        language: '{{ datepicker }}',
        pickTime: false
    });

    $(".button-export").click(function (e) {
      e.preventDefault();
      
      let target = $(this).data('href');
      var url = '';
	
      var filter_date_start = $('input[name=\'filter_date_start\']').val();
        
      if (filter_date_start) {
        url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
      }

      var filter_date_end = $('input[name=\'filter_date_end\']').val();
        
      if (filter_date_end) {
        url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
      }

      location = target + url;
    });

    $(".export-all-orders").click(function (e) {
      e.preventDefault();
      
      let target = $(this).data('href');
      var url = '';
	
      var filter_date_start = $('input[name=\'filter_date_start\']').val();
        
      if (filter_date_start) {
        url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
      }

      var filter_date_end = $('input[name=\'filter_date_end\']').val();
        
      if (filter_date_end) {
        url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
      }

      location = target + url;
    });

  });
</script>

<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
var url = '';
	
var filter_date_start = $('input[name=\'filter_date_start\']').val();
	
if (filter_date_start) {
url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
}

var filter_date_end = $('input[name=\'filter_date_end\']').val();
	
if (filter_date_end) {
url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
}
	
var filter_group = $('select[name=\'filter_group\']').val();
	
if (filter_group) {
url += '&filter_group=' + encodeURIComponent(filter_group);
}
	
var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();
	
if (filter_order_status_id != 0) {
url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
}	

location = 'index.php?route=report/report&code=sale_order&user_token={{ user_token }}' + url;
});
//--></script>
<script type="text/javascript"><!--
// $('.date').datetimepicker({
// language: '{{ datepicker }}',
// pickTime: false
// });
//--></script>