{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                {# <button type="submit" form="form-total" data-toggle="tooltip" title="{{ button_save }}"
                    class="btn btn-primary"><i class="fa fa-save"></i></button> #}
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                        class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td class="text-left">ID / Nome do Cliente</td>
                                <td class="text-left"></td>
                            </tr>
                        </thead>
                        <tbody>

                            {% if customers %}
                            {% for customer in customers %}
                            <tr>
                                <td class="text-left"><b>#{{ customer.customer_id }}</b> {{ customer.customer_name }}
                                    {% if customer.customer_orders %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>ID</th>
                                            <th>Produtos</th>
                                            <th>Data</th>
                                            <th>Método</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            {% for order in customer.customer_orders %}
                                            <tr>
                                                <td>{{ order.order_id}}</td>
                                                <td>
                                                    <ul>
                                                    {% for product in order.order_products %}
                                                      <li>{{ product.product_name }} <small>({{ product.product_quantity }}x {{ product.product_price }})</small> <b>Total: {{ product.product_total }}</b></li>
                                                    {% endfor %}
                                                    </ul>
                                                </td>
                                                <td>{{ order.order_date_added}}</td>
                                                <td>{{ order.order_payment_method}}</td>
                                                <td>{{ order.order_total}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                </td>
                                <td class="text-left">
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="6">{{ text_no_results }}</td>
                            </tr>
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}