{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-total" data-toggle="tooltip" title="{{ button_save }}"
                    class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                        class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>Data</th>
                            <th>Unidade</th>
                            <th>Nome do Aluno</th>
                            <th>Produtos</th>
                            <th>Método</th>
                            <th>Total</th>
                        </thead>
                        <tbody>

                            {% if orders %}
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.date_added}}</td>
                                <td>{{ order.unit_name}}</td>
                                <td>{{ order.customer_name}}</td>
                                <td>
                                    <ul>
                                        {% for product in order.products %}
                                        <li>{{ product.product_name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ order.payment_method}}</td>
                                <td>{{ order.total}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="6">{{ text_no_results }}</td>
                            </tr>
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}