{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
<p>{{ text_payment_method }}</p>
{% for payment_method in payment_methods %}
{% if hasCupom %}
    {% if hasCupom == 'IWPROJETO' and payment_method.code == 'free_project' %}
      <div class="radio">
        <label>{% if payment_method.code == code or not code %}
          {% set code = payment_method.code %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked" />
          {% else %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" />
          {% endif %}
          {{ payment_method.title }}
          {% if payment_method.code == 'code_vindi' %}
          <br/>
          <span style="display:none !important;"><i class="fa fa-info-circle text-danger"></i> Bandeiras ELO e ALELO com instabilidade, por favor entrar em contato com nosso atendimento no <a href="https://wa.me/551147022877" target="_blank">Nosso WhatsApp (11) 4702-2877</a></span>
          {% endif %}
          {% if payment_method.code == 'code_vindi_boleto' %}
          <br/>
          <span><i class="fa fa-info-circle text-danger"></i> Boletos gerados no final de semana, somente poderão ser pagos no próximo dia útil. Caso a compra esteja sendo feita em dia útil, por favor aguarde até 2 horas para efetuar o pagamento do boleto que será gerado.</span>
          {% endif %}
          {% if payment_method.terms %}
          ({{ payment_method.terms }})
          {% endif %} </label>
      </div>
      {% elseif payment_method.code != 'free_project'%}
      <div class="radio">
        <label>{% if payment_method.code == code or not code %}
          {% set code = payment_method.code %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked" />
          {% else %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" />
          {% endif %}
          {{ payment_method.title }}
          {% if payment_method.code == 'code_vindi' %}
          <br/>
          <span style="display:none !important;"><i class="fa fa-info-circle text-danger"></i> Bandeiras ELO e ALELO com instabilidade, por favor entrar em contato com nosso atendimento no <a href="https://wa.me/551147022877" target="_blank">Nosso WhatsApp (11) 4702-2877</a></span>
          {% endif %}
          {% if payment_method.code == 'code_vindi_boleto' %}
          <br/>
          <span><i class="fa fa-info-circle text-danger"></i> Boletos gerados no final de semana, somente poderão ser pagos no próximo dia útil. Caso a compra esteja sendo feita em dia útil, por favor aguarde até 2 horas para efetuar o pagamento do boleto que será gerado.</span>
          {% endif %}
          {% if payment_method.terms %}
          ({{ payment_method.terms }})
          {% endif %} </label>
      </div>
    {% endif %}
{% else %}
  {% if payment_method.code != 'free_project' %}
      <div class="radio">
        <label>{% if payment_method.code == code or not code %}
          {% set code = payment_method.code %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked" />
          {% else %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" />
          {% endif %}
          {{ payment_method.title }}
          {% if payment_method.code == 'code_vindi' %}
          <br/>
          <span style="display:none !important;"><i class="fa fa-info-circle text-danger"></i> Bandeiras ELO e ALELO com instabilidade, por favor entrar em contato com nosso atendimento no <a href="https://wa.me/551147022877" target="_blank">Nosso WhatsApp (11) 4702-2877</a></span>
          {% endif %}
          {% if payment_method.code == 'code_vindi_boleto' %}
          <br/>
          <span><i class="fa fa-info-circle text-danger"></i> Boletos gerados no final de semana, somente poderão ser pagos no próximo dia útil. Caso a compra esteja sendo feita em dia útil, por favor aguarde até 2 horas para efetuar o pagamento do boleto que será gerado.</span>
          {% endif %}
          {% if payment_method.terms %}
          ({{ payment_method.terms }})
          {% endif %} </label>
      </div>
  {% endif %}
{% endif %}
{% endfor %}
{% endif %}
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="2" class="form-control">{{ comment }}</textarea>
</p>
{% if text_agree %}
<div class="buttons">
  <div class="">
    <div class="form-group">
    <label>
    {% if agree %}
    <input type="checkbox" name="agree" value="1" checked="checked" />
    {% else %}
    <input type="checkbox" name="agree" value="1" />
    {% endif %}
    {{ text_agree }}</label>
    </div>
    <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-success btn-block" />
  </div>
</div>
{% else %}
<div class="buttons">
  <div class="">
    <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-success btn-block" />
  </div>
</div>
{% endif %} 