{{ headerlogin }}
<div id="account-register" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
     <div class="d-flex justify-content-center align-items-center page-login">
      <div class="flex-fill">
        <div class="logo text-center mt-4 mb-5">
          {% if logo %}
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
          {% else %}
          <h1>{{ name }}</h1>
          {% endif %}
        </div>
        
                    {% if code_codigo is not empty %}
                        <style>
                            #code-codigo-verificar{
                                margin-top: 15px;
                            }

                            .code-codigo-form{
                                padding-right: 0px;
                                padding-left: 0px;
                            }

                            .code-codigo-error{
                                color: red;
                                font-size: 12px;
                                margin-bottom: 10px;
                                font-weight: bold;
                            }
                        </style>
                        <div class="box-login" id="code-codigo">
                            <h2>Faça seu Cadastro</h2>

                            <div class="alert alert-info" role="alert">Informe o <b>código de acesso</b> entregue pela sua unidade iW para prosseguir.</div>

                            <div class="form-group required">
                                <div class="col-sm-12 code-codigo-form">
                                    <input type="text" name="code_codigo" value="" placeholder="Informe o Códìgo" id="input-code-codigo" class="form-control" />
                                    <div class="code-codigo-error"></div>
                                </div>
                            </div>
                            <br><br>
                            <button id="code-codigo-verificar" data-loading-text="Carregando..." class="btn btn-block btn-success">Verificar Código</button>
                        </div>

                        <script>
                        $(".code-codigo-error").hide();

                        $('#code-codigo-verificar').on('click', function() {
                            var thisForm = this;
                            var code_codigo = $('#input-code-codigo').val();
                            console.log(code_codigo);

                            $.ajax({
                                url: '/index.php?route=module/code_codigo/validate',
                                type: 'post',
                                dataType: 'json',
                                data: 'code_codigo=' + code_codigo,
                                beforeSend: function() {
                                    $(thisForm).button('loading');
                                },
                                complete: function() {
                                    $(thisForm).button('reset');
                                },
                                success: function(json) {
                                    if (json['success'] == false) {
                                        $(".code-codigo-error").show();
                                        $(".code-codigo-error").html(json['error']);
                                    }

                                    if (json['success']) {
                                        $(".code-codigo-error").hide();
                                        $("#code-codigo").remove();
                                        $(".box-login").show();
                                    }
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });
                        });
                        </script>
                        <div class="box-login" style='display:none;'>
                    {% else %}
                        <div class="box-login">
                    {% endif %}
                
          <h2>Faça seu Cadastro</h2>
          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset id="account">
              <div class="form-group required" style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
                <label class="col-sm-12 control-label">Selecione seu Tipo:</label>
                <div class="col-sm-12">
                  <select name="customer_group_id" id="customer_group_id" class="form-control">
                    {% for customer_group in customer_groups %}
                    {% if customer_group.customer_group_id == customer_group_id %}
                    <option value="{{ customer_group.customer_group_id }}" selected>{{ customer_group.name }}</option>
                    {% else %}
                    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <div class="col-sm-12">
                  <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
                  {% if error_firstname %}
                  <div class="text-danger">{{ error_firstname }}</div>
                  {% endif %} </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
                    {% if error_lastname %}
                    <div class="text-danger">{{ error_lastname }}</div>
                    {% endif %} </div>
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                      {% if error_email %}
                      <div class="text-danger">{{ error_email }}</div>
                      {% endif %} </div>
                    </div>
                    <div class="form-group required">
                      <div class="col-sm-12">
                        <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
                        {% if error_telephone %}
                        <div class="text-danger">{{ error_telephone }}</div>
                        {% endif %} </div>
                      </div>
                      {% for custom_field in custom_fields %}
                      {% if custom_field.type == 'select' %}
                      <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                        <label class="col-sm-12 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                        <div class="col-sm-12">
                          <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">
                            <option value="">{{ text_select }}</option>
                            {% for custom_field_value in custom_field.custom_field_value %}
                            {% if register_custom_field[custom_field.location][custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                            <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                            {% else %}
                            <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                          {% if error_custom_field[custom_field.custom_field_id] %}
                          <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                          {% endif %}</div>
                        </div>
                        {% endif %}
                        {% if custom_field.type == 'radio' %}
                        <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                          <label class="col-sm-12 control-label">{{ custom_field.name }}</label>
                          <div class="col-sm-12">
                            <div> {% for custom_field_value in custom_field.custom_field_value %}
                              <div class="radio">{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                                <label>
                                  <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                                  {{ custom_field_value.name }}</label>
                                  {% else %}
                                  <label>
                                    <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
                                    {{ custom_field_value.name }}</label>
                                    {% endif %} </div>
                                    {% endfor %}</div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}</div>
                                  </div>
                                  {% endif %}
                                  {% if custom_field.type == 'checkbox' %}
                                  <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                    <label class="col-sm-12 control-label">{{ custom_field.name }}</label>
                                    <div class="col-sm-12">
                                      <div> {% for custom_field_value in custom_field.custom_field_value %}
                                        <div class="checkbox">{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id] %}
                                          <label>
                                            <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                                            {{ custom_field_value.name }}</label>
                                            {% else %}
                                            <label>
                                              <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
                                              {{ custom_field_value.name }}</label>
                                              {% endif %} </div>
                                              {% endfor %} </div>
                                              {% if error_custom_field[custom_field.custom_field_id] %}
                                              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                              {% endif %} </div>
                                            </div>
                                            {% endif %}
                                            {% if custom_field.type == 'text' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                              <div class="col-sm-12">
                                                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                                                <div id="valid-input-custom-field{{ custom_field.custom_field_id }}"></div>
                                                {% if error_custom_field[custom_field.custom_field_id] %}
                                                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %} </div>
                                              </div>
                                              {% endif %}
                                              {% if custom_field.type == 'textarea' %}
                                              <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-12 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                                <div class="col-sm-12">
                                                  <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                                                  {% if error_custom_field[custom_field.custom_field_id] %}
                                                  <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                  {% endif %} </div>
                                                </div>
                                                {% endif %}
                                                {% if custom_field.type == 'file' %}
                                                <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                                  <label class="col-sm-12 control-label">{{ custom_field.name }}</label>
                                                  <div class="col-sm-12">
                                                    <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                                    <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}  {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}" />
                                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}</div>
                                                  </div>
                                                  {% endif %}
                                                  {% if custom_field.type == 'date' %}
                                                  <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                                    <label class="col-sm-12 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                                    <div class="col-sm-12">
                                                      <div class="input-group date">
                                                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                                        </span></div>
                                                        {% if error_custom_field[custom_field.custom_field_id] %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                        {% endif %} </div>
                                                      </div>
                                                      {% endif %}
                                                      {% if custom_field.type == 'time' %}
                                                      <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                                        <label class="col-sm-12 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                                        <div class="col-sm-12">
                                                          <div class="input-group time">
                                                            <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                                                            <span class="input-group-btn">
                                                              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                                            </span></div>
                                                            {% if error_custom_field[custom_field.custom_field_id] %}
                                                            <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                            {% endif %} </div>
                                                          </div>
                                                          {% endif %}
                                                          {% if custom_field.type == 'time' %}
                                                          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                                            <label class="col-sm-12 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                                            <div class="col-sm-12">
                                                              <div class="input-group datetime">
                                                                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                                                                <span class="input-group-btn">
                                                                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                                                </span></div>
                                                                {% if error_custom_field[custom_field.custom_field_id] %}
                                                                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                                {% endif %} </div>
                                                              </div>
                                                              {% endif %}
                                                              {% endfor %}
                                                            </fieldset>
                                                            <fieldset>
                                                              <div class="form-group required">
                                                                <div class="col-sm-12">
                                                                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                                                                  {% if error_password %}
                                                                  <div class="text-danger">{{ error_password }}</div>
                                                                  {% endif %} </div>
                                                                </div>
                                                                <div class="form-group required">
                                                                  <div class="col-sm-12">
                                                                    <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                                                                    {% if error_confirm %}
                                                                    <div class="text-danger">{{ error_confirm }}</div>
                                                                    {% endif %} </div>
                                                                  </div>
                                                                </fieldset>
                                                                <fieldset>
                                                                  <div class="form-group">
                                                                    <label class="col-sm-12 control-label">{{ entry_newsletter }}</label>
                                                                    <div class="col-sm-12"> {% if newsletter %}
                                                                      <label class="radio-inline">
                                                                        <input type="radio" name="newsletter" value="1" checked="checked" />
                                                                        {{ text_yes }}</label>
                                                                        <label class="radio-inline">
                                                                          <input type="radio" name="newsletter" value="0" />
                                                                          {{ text_no }}</label>
                                                                          {% else %}
                                                                          <label class="radio-inline">
                                                                            <input type="radio" name="newsletter" value="1" />
                                                                            {{ text_yes }}</label>
                                                                            <label class="radio-inline">
                                                                              <input type="radio" name="newsletter" value="0" checked="checked" />
                                                                              {{ text_no }}</label>
                                                                              {% endif %} </div>
                                                                            </div>
                                                                          </fieldset>
                                                                          {{ captcha }}
                                                                          {% if text_agree %}
                                                                          <div class="buttons clearfix">
                                                                            <div class="pull-left">
                                                                              <label for="agree">
                                                                                {% if agree %}
                                                                                <input type="checkbox" id="agree" name="agree" value="1" checked="checked" />
                                                                                {% else %}
                                                                                <input type="checkbox" id="agree" name="agree" value="1" />
                                                                                {% endif %}
                                                                                {{ text_agree }}
                                                                                &nbsp;
                                                                              </label>
                                                                            </div>
                                                                          </div>
                                                                          <div class="buttons">
                                                                            <input type="submit" value="{{ button_continue }}" class="btn btn-block btn-success" />
                                                                          </div>
                                                                          {% else %}
                                                                          <div class="buttons">
                                                                            <div class="pull-left">
                                                                              <input type="submit" value="{{ button_continue }}" class="btn btn-block btn-success" />
                                                                            </div>
                                                                          </div>
                                                                          {% endif %}
                                                                        </form>
                                                                        {% if error_warning %}
                                                                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
                                                                        {% endif %}
                                                                        <div class="form-group">
                                                                          <a href="/index.php?route=account/login">Já possui uma conta? <b>Faça já seu Acesso</b></a>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  {{ content_bottom }}</div>
                                                                  {{ column_right }}</div>
                                                                </div>
                                                                <script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
   clearInterval(timer);
 }

 timer = setInterval(function() {
  if ($('#form-upload input[name=\'file\']').val() != '') {
   clearInterval(timer);

   $.ajax({
    url: 'index.php?route=tool/upload',
    type: 'post',
    dataType: 'json',
    data: new FormData($('#form-upload')[0]),
    cache: false,
    contentType: false,
    processData: false,
    beforeSend: function() {
     $(element).button('loading');
   },
   complete: function() {
     $(element).button('reset');
   },
   success: function(json) {
     $(element).parent().find('.text-danger').remove();

     if (json['error']) {
      $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
    }

    if (json['success']) {
      alert(json['success']);

      $(element).parent().find('input').val(json['code']);
    }
  },
  error: function(xhr, ajaxOptions, thrownError) {
   alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
 }
});
 }
}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 

<!-- Funções para validação de CPF e CNPJ -->
<script src="/catalog/view/javascript/valid_cpf_cnpj.js"></script>
<script>

            // ## EXEMPLO 1
            // Aciona a validação a cada tecla pressionada
            var temporizador = false;
            $('#input-custom-field1').change(function(){
            
                // O input que estamos utilizando
                var input = $(this);
                
                // Limpa o timeout antigo
                if ( temporizador ) {
                    clearTimeout( temporizador );
                }

                // O CPF ou CNPJ
                var cpf_cnpj = input.val();
                
                // Cria um timeout novo de 500ms
                temporizador = setTimeout(function(){
                    // Remove as classes de válido e inválido
                    input.removeClass('input-has-success');
                    input.removeClass('input-has-error');
                
                    
                    // Valida
                    var valida = valida_cpf_cnpj( cpf_cnpj );
                    
                    // Testa a validação
                    if ( valida ) {
                        input.addClass('input-has-success');
                      $('div.buttons input[type=submit]').attr('disabled',false);
                    } else {
                        input.addClass('input-has-error');
                      $('div.buttons input[type=submit]').attr('disabled',true);
                    }
                }, 100);
                
                // Testa a validação e formata se estiver OK
                if ( formata_cpf_cnpj( cpf_cnpj ) ) {
                    $(this).val( formata_cpf_cnpj( cpf_cnpj ) );
                    $('#valid-input-custom-field1').html('');
                    $('div.buttons input[type=submit]').attr('disabled',false);
                } else {
                    $('div.buttons input[type=submit]').attr('disabled',true);
                    $('#valid-input-custom-field1').html('');
                    $('#valid-input-custom-field1').html('CPF ou CNPJ inválido!');
                }
            
            });
   

        </script>

<script>
function CPF(){"user_strict";function r(r){for(var t=null,n=0;9>n;++n)t+=r.toString().charAt(n)*(10-n);var i=t%11;return i=2>i?0:11-i}function t(r){for(var t=null,n=0;10>n;++n)t+=r.toString().charAt(n)*(11-n);var i=t%11;return i=2>i?0:11-i}var n="CPF Inválido",i="CPF Válido";this.gera=function(){for(var n="",i=0;9>i;++i)n+=Math.floor(9*Math.random())+"";var o=r(n),a=n+"-"+o+t(n+""+o);return a},this.valida=function(o){for(var a=o.replace(/\D/g,""),u=a.substring(0,9),f=a.substring(9,11),v=0;10>v;v++)if(""+u+f==""+v+v+v+v+v+v+v+v+v+v+v)return n;var c=r(u),e=t(u+""+c);return f.toString()===c.toString()+e.toString()?i:n}}

var CPF = new CPF();
var CPFPost = $('#input-custom-field0000999').val();

$("#input-custom-field0000999").change(function(){ 
  if(CPF.valida($(this).val()) != 'CPF Válido'){
    $('div.buttons input[type=submit]').attr('disabled',true);
    $('#valid-input-custom-field0000999').html('<div class="text-danger">CPF Inválido</div>');
  }else{
    $('div.buttons input[type=submit]').attr('disabled',false);
    $('#valid-input-custom-field0000999').html('<div class="text-success">CPF Válido</div>');
  }
});
</script>
{{ footerlogin }} 